@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@layer utilities {
	.scrollbar-custom {
		scrollbar-width: thin;
		scrollbar-color: var(--color-red-400) transparent;
	}

	.scrollbar-custom::-webkit-scrollbar {
		height: 8px;
		width: 8px;
	}

	.scrollbar-custom::-webkit-scrollbar-track {
		background: transparent;
	}

	.scrollbar-custom::-webkit-scrollbar-thumb {
		background-color: #d1d5db;
		border-radius: 4px;
	}

	.scrollbar-custom::-webkit-scrollbar-thumb:hover {
		background-color: #9ca3af;
	}
}

html {
	scroll-behavior: smooth;
}

* {
	font-family: 'Open Sans', sans-serif;
	accent-color: var(--color-red-700);
}

h1,
h2,
h3 {
	font-family: 'Montserrat', sans-serif;
}

span {
	font-family: inherit;
	font-weight: inherit;
}

button,
.button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	cursor: pointer;
	transition: border-color 0.2s;
}

button:hover {
	border-color: var(--color-red-700);
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.specialBtn {
	border-color: #646cff;
}

.specialBtnDark {
	background: #646cff;
	color: white;
}

.specialBtn:hover {
	border-color: blue;
}

.specialBtnDark:hover {
	border-color: darkblue;
}

.dropShadow {
	filter: drop-shadow(-10.8923px 14.523px 35.0973px rgba(29, 140, 242, 0.2));
}

.form-submit {
	width: 100%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	padding: 17px 20px;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	border: none;
	background-image: -moz-linear-gradient(to left, #f87777, #fff7ba);
	background-image: -ms-linear-gradient(to left, #f87777, #fff7ba);
	background-image: -o-linear-gradient(to left, #f87777, #fff7ba);
	background-image: -webkit-linear-gradient(to left, #f87777, #fff7ba);
	background-image: linear-gradient(to left, #f87777, #fff7ba);
}
